/* write your override styles here */
#wall .tag-1 ,div#wall #tag-2 ,#wall #tag-3.slick.wicked, div#wall .parent #tag-4, div#wall div.parent div#tag-5.slick, div#wall div.parent div:last-child div:last-child#tag-6 , div#wall div.parent div:last-child#tag-7.slick {
  display: none;
}
